{% extends "bootstrap/base.html" %}
{% block title %}Update your account information | The Tyee{% endblock %}

{% block styles %}
{{super()}}
<link href="https://js.recurly.com/v4/recurly.css" rel="stylesheet" type="text/css">
<link href="https://static.thetyee.ca/support/v1.9.2/ui/css/styles.css?v=3" rel="stylesheet" media="screen">
<link rel="stylesheet"
      href="{{url_for('.static', filename='styles.css')}}">
{% endblock %}

{% block scripts %}
<script src="https://js.recurly.com/v4/recurly.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script>
    recurly.configure('ewr1-eV73pTTUNJwtHc5zuCXLdM');
    const elements = recurly.Elements();
    const cardElement = elements.CardElement();
    cardElement.attach('#recurly-elements');

    $('#my-form').on('submit', function (event) {
        const form = this;
        event.preventDefault();
        recurly.token(elements, form, function (err, token) {
            if (err) {
                // TODO Show the error to the user
                // TODO Log the error for investigation
                // handle error using err.code and err.fields
                console.log(err);
            } else {
                // recurly.js has filled in the 'token' field, so now we can submit the
                // form to your server
                // console.log(token);
                form.submit();
            }
        });
    });
</script>
{{super()}}
{% endblock %}


{% block content %}
<header>
    <h1>The Tyee</h1>
        <h2>Tyee Builders</h2>
    <div class="container">
    </div>
 </header>

 <div class="container" id="content">
  <h1>Hello, {{ account.first_name }} {{ account.last_name}}</h1>
  <p>Thanks for being a supporter of The Tyee!</p>
  <p> The last four digits of the expired card we have on file for you are <b>{{ account.billing_info.payment_method.last_four }}</b>.
      Please provide your updated credit card information below:
</p>
  <form id="my-form" action="/account_update_billing" method="post">
    <input type="hidden" name="first_name" data-recurly="first_name" value="{{ account.first_name }}" disabled>
    <input type="hidden" name="last_name" data-recurly="last_name" value="{{ account.last_name}}" disabled>

    <div id="recurly-elements">
        <!-- Recurly Elements will be attached here -->
    </div>

    <br />
    <div class="form-group">
        <label for="postal">Postal Code</label><br />
        <input type="text" name="postal" data-recurly="postal_code"
            value="{{ account.billing_info.address.postal_code }}">
    </div>

    <!-- Recurly.js will update this field automatically -->
    <input type="hidden" name="recurly-token" data-recurly="token">

    <button type="submit" class="btn btn-default">Submit</button>
</form>
</div>
{% endblock %}